* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Lobster', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(./assets/bg.jpg) repeat;

}
#root {
    background: rgba(31,38,5,0.7);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.container {
    border: 6px solid #1f6521;
    background: #D6CE15;
    border-radius: 15px;
    max-width: 980px;
}
button {
    outline: 0 !important;
}
h1 {
    font-size: 40px;
    margin: 0 0 20px;
    color: #A4A71E;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
}
h3 {
    font-size: 18px;
}
.content {
    padding-top: 15px;
}
.Products {
    padding-left: 0;
}
.content .wrapper {
    border: 3px solid #1f6521;
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 323px;
    overflow: hidden;
}
.Product-items {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.Product-items li {
    float: left;
    width: 50%;
    padding: 10px;
}
.Product-items li button {
    width: 100%;
    border-radius: 4px;
    background: #d6ce15;
    border: 2px solid #1f2605;
    color: #1f2605;
    transition: all 0.4s;
    cursor: pointer;
}
.Product-items li button:hover {
    background: #1f2605;
    color: #fff;
}
.Product-items li button .icon,.Product-items li button .title, .Product-items li button .cost {
    float: left;
    height: 50px;
    line-height: 50px;
}
.Product-items li button .icon {
    width: 50px;
    height: 50px;
    font-size: 45px;
    line-height: 50px;
    margin-top: 10px;
}
h4 {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: capitalize;
}
h6 {
    text-transform: capitalize;
}
.Product-items li button .cost {
    float: right;
    margin-top: 5px;
    font-style: normal;
    padding-right: 10px;
}
.Order-items {
    margin: 0;
    padding: 0;
    list-style: none;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.Order-items li {
    overflow: hidden;
    padding: 5px 0;
    display: block;
    border-bottom: 1px dashed #ccc;
}
.Order-items li span {float: left;}
.Order-items li .name {  width: 40%;
    font-size: 18px;
    line-height: 18px;
}
.Order-items li .count {  width: 20%;line-height: 18px;}
.Order-items li .price {  width: 20%;line-height: 18px;}
.Order-items li .remove {  width: 20%;text-align: right;}

.Order-items li .remove button {
    border: none;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    background: none;
}

.Order-items .total-price {
    font-size: 18px;
    text-align: left;
}
.Order-items .total-price span {
    float: right;
    font-size: 16px;
}